/*
 
 File:browser.css
 
 Abstract: Style rules for the Simple Browser sample.
 
 Version: 1.0
 
 Disclaimer: IMPORTANT:  This Apple software is supplied to you by 
 Apple Inc. ("Apple") in consideration of your agreement to the
 following terms, and your use, installation, modification or
 redistribution of this Apple software constitutes acceptance of these
 terms.  If you do not agree with these terms, please do not use,
 install, modify or redistribute this Apple software.
 
 In consideration of your agreement to abide by the following terms, and
 subject to these terms, Apple grants you a personal, non-exclusive
 license, under Apple's copyrights in this original Apple software (the
 "Apple Software"), to use, reproduce, modify and redistribute the Apple
 Software, with or without modifications, in source and/or binary forms;
 provided that if you redistribute the Apple Software in its entirety and
 without modifications, you must retain this notice and the following
 text and disclaimers in all such redistributions of the Apple Software. 
 Neither the name, trademarks, service marks or logos of Apple Inc. 
 may be used to endorse or promote products derived from the Apple
 Software without specific prior written permission from Apple.  Except
 as expressly stated in this notice, no other rights or licenses, express
 or implied, are granted by Apple herein, including but not limited to
 any patent rights that may be infringed by your derivative works or by
 other works in which the Apple Software may be incorporated.
 
 The Apple Software is provided by Apple on an "AS IS" basis.  APPLE
 MAKES NO WARRANTIES, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION
 THE IMPLIED WARRANTIES OF NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS
 FOR A PARTICULAR PURPOSE, REGARDING THE APPLE SOFTWARE OR ITS USE AND
 OPERATION ALONE OR IN COMBINATION WITH YOUR PRODUCTS.
 
 IN NO EVENT SHALL APPLE BE LIABLE FOR ANY SPECIAL, INDIRECT, INCIDENTAL
 OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 INTERRUPTION) ARISING IN ANY WAY OUT OF THE USE, REPRODUCTION,
 MODIFICATION AND/OR DISTRIBUTION OF THE APPLE SOFTWARE, HOWEVER CAUSED
 AND WHETHER UNDER THEORY OF CONTRACT, TORT (INCLUDING NEGLIGENCE),
 STRICT LIABILITY OR OTHERWISE, EVEN IF APPLE HAS BEEN ADVISED OF THE
 POSSIBILITY OF SUCH DAMAGE.
 
 Copyright (C) 2008 Apple Inc. All Rights Reserved.
 
 */

/* ==================== TOP-LEVEL CONTAINERS ==================== */

body {
  width: 320px;
  margin: 0px;
  padding: 0px;
  background-image: url('images/background_stripes.png');
  background-repeat: repeat;
  font-family: Helvetica;
  /* ensure that we don't get the default callout following a long touch on
  an element, which is a default behavior in Mobile Safari */
  -webkit-touch-callout: none;
  /* disable the Mobile Safari default behavior to adjust font size automatically
  to improve readability */
  -webkit-text-size-adjust: none;
}

/*
when the orientation changes to landscape mode, the body is assigned the .landscape
class so that we can easily change metrics and other properties via simple CSS matching
*/
body.landscape {
  width: 480px;
}

#browser {
  /* ensure we always fill the whole screen */
  min-height: 416px;
}

body.landscape #browser {
  min-height: 268px;
}

/* ==================== HEADER ==================== */

#header {
  position: relative;
  height: 40px;
  background-image: url('images/header_middle.png');
  border-bottom: 1px solid rgb(45, 54, 66);
}

.button {
  /* use absolute positioning and transforms as these will be subject to hardware transitions */
  position: absolute;
  -webkit-transform: translate(0px, 0px);
  /* the buttons should be displayed on top of the titles so that they can always receive touches */
  z-index: 1;
  /* set up the font appearance */
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: white;
  text-shadow: rgba(0, 0, 0, .6) 0px -1px 0px;
  /* set up the chrome background */
  -webkit-border-image : url('images/back_button.png') 0 4 0 13;
  border-width : 0 4px 0 13px;
  padding-top: 7px;
  padding-right: 4px;
  /* base metrics used to ensure a minumum size and specify a max size that can be used to trim the contents */
  min-width: 40px;
  max-width: 60px;
  height: 23px; 
  /* enfore trimming if the label is too long */
  white-space : nowrap;
  overflow : hidden;
  text-overflow: ellipsis;
}

body.landscape .button {
  max-width: 90px;
}

/* touched state for the buttons */
.button:active {
  -webkit-border-image : url('images/back_button_touched.png') 0 4 0 13;
}

.title {
  /* use absolute positioning and transforms as these will be subject to hardware transitions */
  position: absolute;
  -webkit-transform: translate(0px, 0px);
  /* base metrics */
  height: 31px;
  margin-top: 3px;
  /* the titles should be displayed below the button so that they don't receive touches */
  z-index: 0;
  /* set up the font appearance */
  font-size: 16pt;
  font-weight: bold;
  color: white;
  text-shadow: rgba(0, 0, 0, .6) 0px -1px 0px;
  /* enfore trimming if the label is too long */
  white-space : nowrap;
  overflow : hidden;
  text-overflow: ellipsis;
}

/* ==================== MAIN PAGES CONTENT ==================== */

#pages_container > div {
  position: absolute;
  /*
  add a default transform so that the contents of the pages
  are already composited as hardware elements and will animate
  smoothly later on when we launch transitions
  */
  -webkit-transform: translate(0px,0px);
}

ul {
  width: 300px;
  padding: 0px;
  margin: 10px 0px 6px 10px;
  font-size: 18px;
  font-weight: bold;
}

body.landscape ul {
  width: 460px;
}

li {
  height: 32px;
  list-style-type: none;
  background-color: white;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
  border-color: rgb(171,173,176);  
  margin: 0px;
  padding-top: 14px;
  padding-left: 10px;
  padding-right: 20px;
  /* ensure that long pieces of text get trimmed */
  white-space : nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
this matches the first list item, which needs rounding in the top corners
and no bottom border as the item below will already draw a border at its top
*/
li:first-child {
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  border: 1px solid rgb(171,173,176);
  border-bottom-width: 0;
}

/*
this matches the last list item, which needs rounding in the bottom corners
and a bottom border
*/
li:last-child {
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border: 1px solid rgb(171,173,176);
  margin-bottom: 5px;
}

/*
list items with the .group class are those that can be tapped to drill
further down and therefore need an arrow in the background to indicate that
*/
li.group {
  background-image: url('images/chevron.png');
  background-repeat: no-repeat;
  background-position: 280px 18px;
}

body.landscape li.group {
  background-position: 440px 18px;
}

/* this is for the touched state of list items */
li.group:active {
  background-image: url('images/chevron_touched.png'), url('images/item_background_touched.png');
  background-position: 280px 18px, 0 0;
  background-repeat: no-repeat, repeat-x;
  color: white;
}

body.landscape li.group:active {
  background-position: 440px 18px, 0 0;
}
